
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: lightblue;
  width: 100%;
}

.form{
  width: 400px; /* Set the width of your form */
  padding: 20px;
  background-color:white;
  border: 2px solid black;
  border-radius: 5px;
}

.Welcome{
  text-align: center;
  color: white;
  
}


#loginButton{
  text-align: center;
  align-items: center;
}

#loginButton:hover{
  color: black;
}

#signin{
  text-align: center;
  color: white;
}

#signin:hover{
  color: black;
}
